
.vs/Dungeon Starcraft/DesignTimeBuild/.dtbcache
.vs/Dungeon Starcraft/v16/.suo
.vs/Dungeon Starcraft/v16/Server/sqlite3/db.lock
.vs/Dungeon Starcraft/v16/Server/sqlite3/storage.ide
obj/Debug/netcoreapp2.1/Dungeon Starcraft.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/Dungeon Starcraft.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/Dungeon Starcraft.assets.cache
obj/Debug/netcoreapp2.1/Dungeon Starcraft.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Dungeon Starcraft.csprojAssemblyReference.cache
obj/Dungeon Starcraft.csproj.nuget.cache
obj/Dungeon Starcraft.csproj.nuget.dgspec.json
obj/Dungeon Starcraft.csproj.nuget.g.props
obj/Dungeon Starcraft.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/Dungeon Starcraft.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Dungeon Starcraft.dll
obj/Debug/netcoreapp2.1/Dungeon Starcraft.pdb
bin/Debug/netcoreapp2.1/Dungeon Starcraft.deps.json
bin/Debug/netcoreapp2.1/Dungeon Starcraft.dll
bin/Debug/netcoreapp2.1/Dungeon Starcraft.pdb
bin/Debug/netcoreapp2.1/Dungeon Starcraft.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/Dungeon Starcraft.runtimeconfig.json
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Dungeon StarCraft.csproj.CoreCompileInputs.cache
obj/Debug/Dungeon Starcraft.csproj.FileListAbsolute.txt
obj/Debug/Dungeon Starcraft.csprojAssemblyReference.cache
obj/Debug/Dungeon StarCraft.exe
obj/Debug/Dungeon StarCraft.pdb
obj/Release/Dungeon StarCraft.csproj.CoreCompileInputs.cache
obj/Release/Dungeon StarCraft.csprojAssemblyReference.cache
.vs/Dungeon Starcraft/v16/Server/sqlite3/storage.ide-shm
.vs/Dungeon Starcraft/v16/Server/sqlite3/storage.ide-wal
