
.vs/Dungeon Starcraft/DesignTimeBuild/.dtbcache
.vs/Dungeon Starcraft/v16/.suo
.vs/Dungeon Starcraft/v16/Server/sqlite3/db.lock
.vs/Dungeon Starcraft/v16/Server/sqlite3/storage.ide
obj/Debug/netcoreapp2.1/Dungeon Starcraft.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/Dungeon Starcraft.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/Dungeon Starcraft.assets.cache
obj/Debug/netcoreapp2.1/Dungeon Starcraft.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Dungeon Starcraft.csprojAssemblyReference.cache
obj/Dungeon Starcraft.csproj.nuget.cache
obj/Dungeon Starcraft.csproj.nuget.dgspec.json
obj/Dungeon Starcraft.csproj.nuget.g.props
obj/Dungeon Starcraft.csproj.nuget.g.targets
obj/project.assets.json
